::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

body{
  background-image: url(../images/pg1.jpeg);
  color: white;
  font-family: 'Old Standard TT', serif;
  font-size: 130%;
}
.about-hidden{
  display: none;
}
.rules-hidden{
  display: none;
}
#info{
  background-image: url(../images/pg2.jpeg);
}
#ic1{
  width: 7%;
  height: 7%;
}
#ic2{
  width: 7%;
  height: 7%;
  float: right;
}
#h1{
  text-align: center;
  text-decoration: underline;
}
#play{
  margin-left: 45%;
}
#pl1{
  margin-left: 31%;
  width: 20%;
  color: grey;
}
#pl2{
  color: grey;
  width: 280%;
}

.footer{
  text-align: center;
  color: grey;
}
